body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; /* Light gray background */
}

.container {
    display: flex;
    width: 800px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.image-section {
     width: 50%;
     background-image: url("../Images/1.jpg");
     background-size: cover;
 }

.form-section {
    width: 50%;
    padding: 40px;
}

.back-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #007bff; /* Blue */
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}
